/* all app scss styles here */

body, html {
	height: 100%;
	overflow: hidden;
	user-select: none;
}

body {
	background-color: $bg-lite;
	margin: 0;
}

#device>#display {
	#colorpicker {
		transform: translateY(101%);
	}

	#info {
		transform: translateY(-101%);
	}

	#matrix {
		transform: translateY(0%);
	}

	&.show-colorpicker {
		#colorpicker {
			transform: translateY(0%);
		}
		#matrix {
			transform: translateY(-101%);
		}
	}

	&.show-info {
		#info {
			transform: translateY(0%);
		}
		#matrix {
			transform: translateY(101%);
		}
	}
}

#device {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@include containerWidthOnly($cols, $rows, $container-width-prc, $container-height-prc);
	height: #{ $rows / $cols * ($container-border-width-prc + 8) }vw;
	max-height: #{ $container-border-height-prc + 8 }vh;
}

#device>#display {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: $bg-dark;
	box-shadow: -1vmin 1vmin 0px $line-color;
	@include containerSize($cols, $rows, $container-width-prc, $container-height-prc);
	.panel {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: all 300ms ease-out;
		background-color: $bg-dark;
	}
}

#device>#controls {
	@include containerWidthOnly($cols, $rows, $container-width-prc, $container-height-prc);
	position: relative;
	text-align: right;
	margin-top: 1vmin;
	position: absolute;
  user-select: none;
  .button {
    width: $btn-width;
    height: $btn-width;
    position: relative;
    display: inline-block;
    margin: $btn-border-width 0 $btn-border-width $btn-border-width;
    &:before {
      content: "";
      width: $btn-width - $btn-border-width;
      height: $btn-width - $btn-border-width;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $line-color;
    }
    .icon {
      width: $btn-width - $btn-border-width;
      height: $btn-width - $btn-border-width;
      position: absolute;
      top: 0;
      right: 0;
      background: $bg-dark;
      transition: transform 120ms ease-in-out;
			overflow: hidden;
			.switcher {
				width: 100%;
				height: 100%;
				&.switch {
					transform: translateY(-100%);
				}
			}
			svg {
				width: 100%;
				height: 100%;
				display: block;
				.paths {
					fill: $line-color;
					transition: fill 250ms ease-in-out;
				}
			}
      &:active {
        transform: translate(- $btn-border-width, $btn-border-width)
      }
    }
  }
}
