/* all app scss styles here */

body, html {
	height: 100%;
	overflow: hidden;
	user-select: none;
}

body {
	background-color: $bg-lite;
	margin: 0;
}

#display {
	#colorpicker {
		transform: translateY(100%);
	}

	#info {
		transform: translateY(-100%);
	}

	#matrix {
		transform: translateY(0%);
	}

	&.show-colorpicker {
		#colorpicker {
			transform: translateY(0%);
		}
		#matrix {
			transform: translateY(-100%);
		}
	}

	&.show-info {
		#info {
			transform: translateY(0%);
		}
		#matrix {
			transform: translateY(100%);
		}
	}
}

// this is the main container, it fills the screen
#device {
	@include containerWidth($device-asr, $widthprc, $heightprc);
	@include containerHeight($device-asr, $widthprc, $heightprc);
	// background: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

// the display container
#display-ct {
	width: 100%;
	height: 100% * $disp-to-dev;
	background-color: $bg-dark;
	// pseudo element as a shadow
	// can't use % with box-shadows
	&:before {
		content: "";
		width: 100%;
		height: 100% * $disp-to-dev;
		position: absolute;
		top:  $btn-border-width * $btn-size / $columns ;
		left: - $btn-border-width * $btn-size / $columns;
		background: $line-color;
	}
}

#display {
	// relative postioning needed for overflow: hidden;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	.panel {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		transition: all 300ms ease-out;
		background-color: $bg-dark;
	}
}

#controls {
  width: 100%;
	height: 100% * $ctrl-to-dev;
	margin-top: $btn-border-width * $ctrl-to-dev;
  .button {
    width: 100% / $columns * $btn-size;
		height: 100%;
		position: relative;
		float: right; // button order != source order
    // margin: $btn-border-width 0 $btn-border-width $btn-border-width;
    &:before {
      content: "";
      width: 100% - $btn-border-width * 2;
      height: 100% - $btn-border-width * 2;
      position: absolute;
      bottom: 0;
      left: $btn-border-width;
      background: $line-color;
    }
    .icon {
      width: 100% - $btn-border-width * 2;
      height: 100% - $btn-border-width * 2;
      position: absolute;
      top: $btn-border-width;
      right: 0;
      background: $bg-dark;
      transition: transform 120ms ease-in-out;
			overflow: hidden;
			.switcher {
				width: 100%;
				height: 100%;
				&.switch {
					transform: translateY(-100%);
				}
			}
			svg {
				width: 100%;
				height: 100%;
				display: block;
				.paths {
					fill: $line-color;
					transition: fill 250ms ease-in-out;
				}
			}
      &:active {
        transform: translate(- $btn-border-width, $btn-border-width)
      }
    }
  }
}
