$cp-width: 50px;
$cp-height: 150px;

.colorpicker {
    position: relative;
    height: 100%;
    width: 100%;
    @include transitionsTransform(500ms, 0ms);
    .slice {
        position: absolute;
        top: 50%;
        margin-top: -($cp-height);
        left: 50%;
        margin-left: -($cp-width);
        width: $cp-width;
        height: $cp-height;
        border-style: solid;
        border-width: $cp-height $cp-width 0 $cp-width;
        transform-origin: bottom center;
        box-sizing: border-box;
        &:first-child{
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: -50px;
            border-radius: 100px;
            border-width: 0 !important;
            border-style: none !important;
            z-index: 100;
        }
    }
}
