$cp-width: 40;
$cp-height: 60;

body:not(.show-colorpicker) {
    .colorpicker {
        .slice {
            transform: rotate(55deg) skewX(55deg) !important;
            -webkit-transform: rotate(55deg) skewX(55deg) !important;
            box-sizing: border-box;
            &:first-child{
                transform: none !important;
            }
            &:first-child + .slice {
            }
        }
    }
}
.colorpicker {
    position: relative;
    height: 100%;
    width: 100%;
    @include transitionsTransform(500ms, 0ms);
    .slice {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: #{-$cp-height}vh;
        margin-left: #{-$cp-width/2}vh;
        width: #{$cp-width}vh;
        height: #{$cp-height}vh;
        @media screen and (max-aspect-ratio: 1/1) {
            margin-top: #{-$cp-height}vw;
            margin-left: #{-$cp-width/2}vw;
            width: #{$cp-width}vw;
            height: #{$cp-height}vw;
        }
        -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
        -webkit-transform-origin: bottom center;
        -o-transform-origin: bottom center;
        transform-origin: bottom center;
        box-sizing: border-box;
        @include transitionsAll(500ms, 0ms);
        &:first-child{
            width: #{$cp-width}vh;
            height: #{$cp-width}vh;
            margin-top: #{-$cp-width/2}vh;
            margin-left: #{-$cp-width/2}vh;
            border-radius: #{$cp-width}vh;
            @media screen and (max-aspect-ratio: 1/1) {
                width: #{$cp-width}vw;
                height: #{$cp-width}vw;
                margin-top: #{-$cp-width/2}vw;
                margin-left: #{-$cp-width/2}vw;
                border-radius: #{$cp-width}vw;
            }
            z-index: 100;
        }
        &:first-child + .slice {
            z-index: 99;
            margin-left: #{-($cp-width - 5) / 2}vh;
            width: #{$cp-width - 5}vh;
            @media screen and (max-aspect-ratio: 1/1) {
                margin-left: #{-($cp-width - 5) / 2}vw;
                width: #{$cp-width - 5}vw;
            }

        }
    }
}
