.info {
	h1 {
		text-align: center;
		color: white;
		font-family: 'Source Code Pro';
		font-size: 14.5vh;
		@media screen and (max-aspect-ratio: 1/1) {
			font-size: 14.5vw;
		}
		margin: 0;
	}
	p {
		color: white;
		font-family: 'Source Code Pro';
		font-size: 3.5vh;
		@media screen and (max-aspect-ratio: 1/1) {
			font-size: 3.5vw;
			margin: 0 3vw 3vw 3vw;
		}
		margin: 0 3vh 3vh 3vh;
	}

	// MUST
	// REMOVE
	// STUPID
	.video {
		opacity: 0;
		margin-top: -25vh;
		padding-top: 50vh;
		&:hover {
			padding-top: 0;
			margin-top: -73.2vh;
			opacity: 1;
		}
		@media screen and (max-aspect-ratio: 1/1) {
			margin-top: -25vw;
			padding-top: 50vw;
			&:hover {
				margin-top: -73.2vw;
			}
		}
		@include transitionsAll(150ms, 0ms);
	}

	.video-icon {
		margin-top: 15vh;
		text-align: center;
		.fa {
			font-size: 20vh;
		}
		@media screen and (max-aspect-ratio: 1/1) {
			margin-top: 15vw;
			.fa {
				font-size: 20vw;
			}
		}
	}
}