#matrix {
	// perspective: 5000;
	&.mirrored>#m {
		transform: rotateY(180deg);
	}
}

#m {
	width: 100%;
	height: 100%;
	fill: transparent;
	transition: transform 500ms ease-in-out;
	.c {
		transition: fill 200ms ease-in-out;
	}
}
