

.matrix-row {
	width: 100%;
	height: percentage(1/$rows);
}

.matrix-ct {
	.matrix-cell {
		float: left;
	}
	&.mirrored {
		.matrix-cell {
			float: right;
		}
	}
}

.matrix-cell {
	display: block;
	width: percentage(1/$cols);
	height: 100%;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	transition: background-color 500ms ease-out, opacity 500ms ease-out;
}
