// got this from somewhere...
@mixin containerSize($cols, $rows, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $cols / $rows * $prch }vh;
  height: #{ $rows / $cols * $prcw }vw;
  max-height: #{ $prch }vh;
}

@mixin containerWidthOnly($cols, $rows, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $cols / $rows * $prch }vh;
}

@mixin containerWidth($cols, $rows, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $cols / $rows * $prch }vh;
}

@mixin containerHeight($cols, $rows, $prcw, $prch) {
  height: #{ $rows / $cols * $prcw }vw;
  max-height: #{ $prch }vh;
}
