// got this from somewhere...
@mixin containerSize($cols, $rows, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $cols / $rows * $prch }vh;
  height: #{ $rows / $cols * $prcw }vw;
  max-height: #{ $prch }vh;
}

@mixin containerWidthOnly($cols, $rows, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $cols / $rows * $prch }vh;
}

@mixin containerWidth($ratio, $prcw, $prch) {
  width: #{ $prcw }vw;
  max-width: #{ $ratio * $prch }vh;
}

@mixin containerHeight($ratio, $prcw, $prch) {
  height: #{ 1 / $ratio * $prcw }vw;
  max-height: #{ $prch }vh;
}
