$cols: 4;
$rows: 5;

@mixin transitions {
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}

@mixin container-shadow {
	-webkit-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.20);
	box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.20);
}

@mixin containerSize($cols, $rows, $prc) {
  width: #{ $prc }vw;
  height: #{ $rows * $prc / $cols }vw;
  max-width: #{ $cols / $rows * $prc }vh;
  max-height: #{ $prc }vh;
}