$rows: 8;
$columns: 8;

$btn-size: 1; // $btn-size * "pixel" width
$btn-width: 100% / $columns * $btn-size;
$btn-border-width: 10%;

$disp-to-dev: $rows / ($rows + $btn-size);
@debug $disp-to-dev;
$ctrl-to-dev: $btn-size / ($rows + $btn-size);
@debug $ctrl-to-dev;
$device-asr: $columns / ($rows + $btn-size);
@debug $device-asr;
$display-asr: $columns / $rows;
@debug $display-asr;

$heightprc: 95;  // viewport height fill
$widthprc: 96;  // viewport width fill

$bg-dark: #b2b2b2;
$bg-lite: #ECECEC;
$line-color: #555555;
