div.info
  h1 pix.pub
  p This is an interactive and collaborative 'pixel painting' - meaning that whatever you draw here will appear on a custom made 8x8 pixel picture frame that is currently exhibited in  #[a(href="http://www.facebook.com/MassolitBudapest/" target="_blank") Massolit&nbsp;Budapest].
  p Don't forget to tell your friends, and check out what others did even when you're not in Massolit!
  p Made in #[a(href="http://www.fablabbudapest.com/" target="_blank") FabLab&nbsp;Budapest] by #[a(href="http://kunakos.ro/" target="_blank") Kún&nbsp;Ákos] and #[a(href="http://demetamas.com/" target="_blank") Deme&nbsp;Tamás].
  p #[strong This is beta, man. Sooo very beta.]
