div.info
  h1 pix.pub
  p This is an interactive and collaborative 'pixel painting', a physical version of which is currently at #[a(href="https://makerfairevienna.com/" target="_blank") Maker&nbsp;Faire&nbsp;Vienna].
  p Contact us #[a(href="https://m.me/pix.pub" target="_blank") on&nbsp;facebook] if you'd like to adopt that box for a while, or would like one of your own.
  p Don't forget to tell your friends!
  p Device made in #[a(href="http://www.fablabbudapest.com/" target="_blank") FabLab&nbsp;Budapest] by #[a(href="http://kunakos.ro/" target="_blank") Kún&nbsp;Ákos] and #[a(href="http://demetamas.com/" target="_blank") Deme&nbsp;Tamás].
  p #[strong This is beta, man. Sooo very beta.]
