div.info
  h1 pix.pub
  p Whatever you draw here will instantly appear in a picture frame that is currently exhibited in a bar somewhere.
  p Made in #[a(href="http://www.fablabbudapest.com/" target="_blank") FabLab&nbsp;Budapest] by #[a(href="http://kunakos.ro/" target="_blank") Kun&nbsp;Akos] and #[a(href="http://demetamas.com/" target="_blank") Deme&nbsp;Tamás].
  p #[strong Beta, man. Sooo very beta.]
