doctype
html.no-js
  head
    meta(charset='utf-8')
    title pix.pub
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description' content='')
    meta(name="apple-mobile-web-app-title" content="pix.pub")
    meta(name="application-name" content="pix.pub")
    meta(name="theme-color" content="#b2b2b2")
    meta(name="msapplication-navbutton-color" content="#00B084")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(property="og:title" content="pix.pub")
    meta(property="og:description" content="interactive glowing pixel thingy")
    meta(property="og:image" content="http://pix.pub/pixpub-fb.png?v=1")
    meta(property="og:url" content="http://pix.pub")
    meta(property="fb:app_id" content="670151563189218")
    meta(name="twitter:card" content="summary_large_image")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#cf08a4")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' type='text/css')
    | <!-- build:css css/libraries.min.css -->
    | <!-- bower:css -->
    | <!-- endbower -->
    | <!-- endbuild -->
    | <!-- build:css css/app.min.css -->
    | <link rel="stylesheet" href="css/app.css">
    | <!-- endbuild -->
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')

  body
    div#device
      div#display-ct
        div#display
          div#matrix.panel
            include includes/matrix.pug
          div#colorpicker.panel
            include includes/colorpicker.pug
          div#info.panel
            include includes/info.pug
      div#controls
        div.button.mirroring-toggle
          a.icon
            include icons/mirroring.svg
        div.button.colorpicker-toggle
          a.icon
            div.switcher.switch
              include icons/colorpicker.svg
              include icons/eraser.svg
        div.button.info-toggle
          a.icon
            include icons/info.svg

    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')

    | <!-- build:js js/vendor/libraries.min.js -->
    | <!-- bower:js -->
    | <!-- endbower -->
    | <!-- endbuild -->

    | <!-- build:js js/app.min.js -->  
    | <script src="js/pixels.js"></script>
    | <script src="js/colorpicker.js"></script>
    | <script src="js/app.js"></script>
    | <!-- endbuild -->

    include includes/analytics.pug
