doctype
html.no-js
  head
    meta(charset='utf-8')
    title pix.pub
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description' content='')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' type='text/css')
    | <!-- build:css css/libraries.min.css -->
    | <!-- bower:css -->
    | <!-- endbower -->
    | <!-- endbuild -->
    | <!-- build:css css/app.min.css -->
    | <link rel="stylesheet" href="css/app.css">
    | <!-- endbuild -->
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')

  body
    div#device
      div#display
        div#matrix.panel
          include includes/matrix.pug
        div#colorpicker.panel
          include includes/colorpicker.pug
        div#info.panel
          include includes/info.pug
      div#controls
        div.button.mirroring-toggle
          a.icon
            include icons/mirroring.svg
        div.button.colorpicker-toggle
          a.icon
            div.switcher
              include icons/colorpicker.svg
              include icons/eraser.svg
        div.button.info-toggle
          a.icon
            include icons/info.svg

    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')

    | <!-- build:js js/vendor/libraries.min.js -->
    | <!-- bower:js -->
    | <!-- endbower -->
    | <!-- endbuild -->

    | <!-- build:js js/app.min.js -->
    | <script src="js/pixels.js"></script>
    | <script src="js/colorpicker.js"></script>
    | <script src="js/app.js"></script>
    | <!-- endbuild -->

    -if (building())
      include includes/analytics.pug
